/* Footer styles */

footer {
    height: 400px;
    background-color: #11122b;
    font-size: .8em;
    color: #cbcbcb;
    font-family: "Ubuntu Condensed", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* width: 100%; */
    margin-top: -4px;
}

.footer-image img {
    width: 180px;
    height: 100%;
    /* filter: brightness(50%) */
    opacity: .5;
}
footer .footer-phone-hours span {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1em;
    letter-spacing: 2px;
}
footer .footer-phone-hours > .hours {
    font-size: .8em;
    color: #cea135;
}
/* Social Media Icons */

footer .social-icons-wrapper {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 300px;
    display: flex;
    justify-content: space-around;
}

footer .social-icons-wrapper a {
    font-size: 1.5em;
    color: #cbcbcb;
    transition: .5s;
}

footer .social-icons-wrapper a:hover {
    color: #cea135;
}

/* Copyright section */
footer .copyright-wrapper {
    margin-bottom: 42px;
    font-size: .7em;
    color: #858585;
} 
